/* Twikoo style */
.tk-extras .tk-extra {
  font-size: 0.75rem;
  opacity: 0.7;
}
.el-button--primary {
  --tw-text-opacity: 1;
  background-color: rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
  border-color: rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
}
.tk-icon.__comments {
  --tw-text-opacity: 1;
  color: rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
}
.tk-action-icon {
  --tw-text-opacity: 1;
  color: rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
}
.tk-tag-green {
  --tw-text-opacity: 1;
  background-color: rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
  border: 1px solid rgb(var(--color-accent) / var(--tw-text-opacity)) !important;
  border-radius: 0.25rem !important;
  color: #fff !important;
}

/* ActionAside: Back to top、ShareButton、DonateButton title标题样式*/
button[id='back-to-top'],
button[id='donate-button'],
button[id='share-button'] {
  position: relative;
}
button[id='back-to-top']::before {
  content: 'Top';
  position: absolute;
  left: 105%; /* 修改为 right: 0 */
  transform: none; /* 移除 transform */
  background-color: rgb(var(--color-accent) / var(--tw-text-opacity));
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  white-space: nowrap; /* 添加这行代码 */
}
button[id='share-button']::before {
  content: '分享';
  position: absolute;
  left: 105%; /* 修改为 right: 0 */
  transform: none; /* 移除 transform */
  background-color: rgb(var(--color-accent) / var(--tw-text-opacity));
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  white-space: nowrap; /* 添加这行代码 */
}
button[id='donate-button']::before {
  content: '打赏';
  position: absolute;
  left: 105%; /* 修改为 right: 0 */
  transform: none; /* 移除 transform */
  background-color: rgb(var(--color-accent) / var(--tw-text-opacity));
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  white-space: nowrap; /* 添加这行代码 */
}
button[id='back-to-top']:hover::before,
button[id='donate-button']:hover::before,
button[id='share-button']:hover::before {
  visibility: visible;
  opacity: 1;
}

/* 
  解决搜索按钮展开时header偏移
  当宽度大于1500且浏览器滚动条消失时会存在header往左偏移11px 
*/
@media screen and (min-width: 1500px) {
  body[data-scroll-locked] header.fixed.top-0.overflow-hidden {
    margin-right: 11px !important;
  }
  body[data-scroll-locked] div.fixed.z-10.top-12.inset-x-0.flex.justify-center.pointer-events-none {
    margin-right: 11px !important;
  }
}

/* 自定义图标 */
@font-face {
  font-family: 'ivan_iconfont';
  src:
    url('/fonts/ivan-icon/iconfont.woff2') format('woff2'),
    url('/fonts/ivan-icon/iconfont.woff') format('woff'),
    url('/fonts/ivan-icon/iconfont.ttf') format('truetype');
}
.ivan_iconfont {
  font-family: 'ivan_iconfont';
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* mark color like search text*/
mark {
  background-color: rgb(var(--color-accent));
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.06rem 0.25rem 0.1rem;
}
